<launch>

    <rosparam command="load" file="$(find roboteq_motor_controller_driver)/config/query.yaml" />

    <node name = "roboteq_motor_controller_driver_1" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen">
        <param name="port" type="string" value="/dev/ttyACM0"/>
    </node>

    <node name = "roboteq_motor_controller_driver_2" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen">
        <param name="port" value="/dev/ttyACM1" />
    </node>

    <node name = "roboteq_motor_controller_driver_3" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen">
        <param name="port" type="string" value="/dev/ttyACM1"/>
    </node>

    <node name = "roboteq_motor_controller_driver_4" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen">
        <param name="port" value="/dev/ttyACM3" />
    </node>
 
</launch>
