<launch>

    <rosparam command="load" file="$(find roboteq_motor_controller_driver)/config/query.yaml" />
    <node name = "roboteq_motor_controller_driver_1" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node1" output = "screen"> </node>
    <node name = "roboteq_motor_controller_driver_2" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node2" output = "screen"> </node>
    <node name = "roboteq_motor_controller_driver_3" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node3" output = "screen"> </node>
    <node name = "roboteq_motor_controller_driver_4" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node4" output = "screen"> </node>
 
</launch>
