<launch>
    <rosparam command="load" file="$(find roboteq_motor_controller_driver)/config/query.yaml" />

    <node name = "roboteq_motor_controller_driver_0" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen"/> 
        <arg name="id" type="int" value="0" />
    </node>

    <node name = "roboteq_motor_controller_driver_1" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen"/>
        <arg name="id" type="int" value="1" />
    </node> 

    <node name = "roboteq_motor_controller_driver_2" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen"/>
        <arg name="id" type="int" value="2" />
    </node>

    <node name = "roboteq_motor_controller_driver_3" pkg = "roboteq_motor_controller_driver" type = "roboteq_motor_controller_driver_node" output = "screen"/> 
        <arg name="id" type="int" value="3" />
    </node> 
 
</launch>
